<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.fattail.chainfeed</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/docker</string>
        <string>start</string>
        <string>chainfeed</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/ernie/PyCharmProjects/ChainFeed/data/live_logs/launchd.out.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/ernie/PyCharmProjects/ChainFeed/data/live_logs/launchd.err.log</string>
</dict>
</plist>